

# **1.   Alterando e Descartando tabelas**



# **1.1   Comando ALTER TABLE**

• Query 1:Adicionar coluna id_loja na tabela transações

In [ ]:
ALTER TABLE transacoes
ADD id_loja STRING;

• Query 2:Alterar tipo da coluna valor na tabela transações para 'DOUBLE'

In [ ]:
ALTER TABLE transacoes
ALTER COLUMN valor DOUBLE;

• Query 3:Deletar coluna id_cliente na tabela transações

In [ ]:
ALTER TABLE transacoes
DROP COLUMN id_cliente;



# **1.2   Comando DROP TABLE**

* Esse comando remove uma tabela completamente do seu banco de dados.

In [ ]:
DROP TABLE transacoes;