

# **1.   Criando Tabelas**



# **1.1   Tipos de Dados**


• INT: Valores numéricos exatos que usam dados inteiros.

• FLOAT e DOUBLE: Valores numéricos aproximados para uso com dados numéricos de ponto flutuante.

• BOOLEAN: Valores verdadeiro(1) e falso(0).

• CHAR, VARCHAR e STRING: Valores de caractere.

• DATE e TIMESTAMP: Valores de cadeia de caractere pré-formatado (data/hora).



# **1.2   Comando CREATE**

• Query I: Criar a tabela de transações.**

In [ ]:
CREATE TABLE transações  (
  id_transacao INT,
  id_cliente INT,
  data_compra DATE,
  valor FLOAT,
);