

# **1.   Inserindo, atualizando e apagando**



# **1.1   Comando SELECT**

Para visualizar todos os dados da tabela, utilize asterisco (*):


    SELECT * FROM <nome_tabela>;

Para visualizar colunas específicas da tabela:

    SELECT <nome_coluna_1>,<nome_coluna_2> FROM <nome_tabela>;

Query 1:Selecionar todos os dados da tabela clientes.

    SELECT * FROM clientes;



# **1.2   Comando INSERT**

    INSERT INTO <nome_da_tabela> VALUES (<valor_1>,<valor_2>);

• Query 1:Inserir os dados na tabela de transações.

    INSERT INTO transacoes VALUES (1,768805383,2021-06-10,50.74,'magalu');
    
    INSERT INTO transacoes VALUES (2,768805399,2021-06-13,30.90,'giraffas');
    
    INSERT INTO transacoes VALUES (3,818770008,2021-06-05,110.00,'postoshell');



# **1.3   Comando UPDATE**

    UPDATE <nome_da_tabela>
    
    SET <coluna_1> = <valor_1>, <coluna_2> = <valor_2>, ...
    
    WHERE <condição>;



*  Nota: caso você não utilize o comando WHERE, todos os valores serão alterados!

Query 1:Atualizar o valor da compra com id = 818770008.

    UPDATE transacoes
    
    SET valor = 250.30
    
    WHERE id = 818770008; i



# **1.4  Comando DELETE**

    DELETE FROM <nome_da_tabela> WHERE <condição>;

Query 1:Remover os dados do cliente 768805383 na tabela de transações

    DELETE FROM transacoes WHERE id_cliente = 768805383;