

# **1.   Introdução ao SQL**



# **1.1   Definição**




*   A linguagem de consulta estruturada, do inglês structured query language ou SQL, é uma linguagem de programação declarativa para interação com os dados armazenados nas tabelas de uma base de dados. Existe uma versão padrão do SQL registrada no ANSI, mas cada SGBD tem a sua própria versão. Os códigos SQL são conhecidos como queries e são divididas em dois grandes grupos:



• DDL: Linguagem de definição de dados.

• DML: Linguagem de manipulação de dados.



# 1.2   **DDL**


* Linguagem de definição de dados, do inglês Data Definition Language ou DDL são instruções para criar/excluir/alterar tabelas e inserir/remover/atualizar dados. • Query 1: Criar/excluir a tabela de clientes.



*   Query 1: Criar/excluir a tabela de clientes.

In [ ]:
CREATE TABLE clientes (
  id BIGINT,
  idade BIGINT,
  sexo STRING,
  dependentes BIGINT,
  escolaridade STRING,
  tipo_cartao STRING,
  limite_credito DOUBLE,
  valor_transacoes_12m DOUBLE,
  qtd_transacoes_12m BIGINT
);



*   Query 2: Excluir a tabela de clientes.

In [ ]:
DROP TABLE clientes;



*   Query 3: Inserir os dados na tabela de clientes.

In [ ]:
INSERT INTO clientes VALUES (768805383, 45, 'M', 3, 'ensino medio', 'blue', 12691.51, 1144.90, 42);
INSERT INTO clientes VALUES (818770008, 49, 'F', 5, 'mestrado', 'blue', 8256.96, 1291.45, 33);
INSERT INTO clientes VALUES (713982108, 51, 'M', 3, 'mestrado', 'blue', 3418.56, 1887.72, 20);



*   Query 4: Remover os dados das mulheres na tabela de clientes.

In [ ]:
DELETE FROM clientes WHERE sexo = 'F';



# **1.3   DML**

Linguagem de manipulação de dados, do inglês Data Manipulation Language ou DML são instruções para manipular (selecionar, filtrar, agregar, limitar etc.) os dados armazenados em tabelas.



*   Query 1: Selecionar o id, a idade e o limite de crédito dos clientes homens da tabela de clientes, ordenados por idade de maneira decrescente.

In [ ]:
SELECT id, idade, limite_credito FROM clientes WHERE sexo = 'M' ORDER BY idade DESC;



*   Query 2: Selecionar a média da idade dos clientes por sexo da tabela de clientes.

In [ ]:
SELECT sexo, AVG(idade) AS "media_idade_por_sexo" FROM clientes GROUP BY sexo;

In [1]:
import os

username = "Gabriel-dotcom124"
os.environ["GITHUB_USER"] = username

!git config --global user.name "${GITHUB_USER}"

In [2]:
import os
from getpass import getpass

usermail = getpass()
os.environ["GITHUB_MAIL"] = usermail

!git config --global user.email "${GITHUB_MAIL}"

··········

In [3]:
import os
from getpass import getpass

usertoken = getpass()
os.environ["GITHUB_TOKEN"] = usertoken

··········

In [4]:
!git clone https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/Gabriel-dotcom124/Introdu-o_ao_SQL.git

Cloning into 'Introdu-o_ao_SQL'...
warning: You appear to have cloned an empty repository.

In [5]:
%cd /content/Gabriel-dotcom124/Introdu-o_ao_SQL/

[Errno 2] No such file or directory: '/content/Gabriel-dotcom124/Introdu-o_ao_SQL/'
/content

In [ ]:
https://github.com/Gabriel-dotcom124/Introdu-o_ao_SQL.git